

<div class="Header__Header">
<div class="Header__Header-Img-Button">
        <img :src="imgRoute" alt="" class="Header__Header-Img">
        <div class="Header__Header-Button">
           <h1 class="Header__Header-Button-Text">{{titleName}}</h1>
           <a href="https://my.bfxpro.io/register" class="Header__Header-Button-Button">{{buttonName}}</a>
        </div>
     </div>

     <div class="Header__Header-Footer">
        <div class="Header__Header-Footer-Title-Text">
           <span class="Header__Header-Footer-Title">+250</span>
           <span class="Header__Header-Footer-Text">Instrumentos de <br> Trading</span>
        </div>

        <div class="Header__Header-Footer-Title-Text">
           <span class="Header__Header-Footer-Title">+30 ms</span>
           <span class="Header__Header-Footer-Text">Tiempos de ejecución</span>
        </div>

        <div class="Header__Header-Footer-Title-Text">
           <span class="Header__Header-Footer-Title">1:500</span>
           <span class="Header__Header-Footer-Text">Apalancamiento</span>
        </div>

        <div class="Header__Header-Footer-Title-Text">
           <span class="Header__Header-Footer-Title">$,€,₿</span>
           <span class="Header__Header-Footer-Text">Opciones de depósito</span>
        </div>
     </div>
  </div>
</div>