.IB {
    background: url('../../assets/img/Options/bg-options.webp');
    width: 100vw;
    height: auto;
    background-position: -1vw -18.1vw;
    background-size: 103vw;
    background-repeat: no-repeat;
}

.IB__Title {
    font-family: 'Exo 2',sans-serif;
    font-weight: 500;
    font-size: 2vw;
    color: #FFFFFF;
}

.IB__Text {
    font-family: 'Exo 2',sans-serif;
    font-weight: 500;
    font-size: 1vw;
    color: #FFFFFF;
    text-align: justify;
}

.IB__Content {
    display: flex;
    flex-direction: column;
    padding: 10vw 45vw 5vw 8vw;
}

.About__Video {
    width: 40vw;
    height: 30vw;
    border-radius: 1vw;
}

.IB__Video-Container {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    height: 24vw;
    align-items: center;
}

.IB__Advantages {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.IB__Card-Flex {
    display: flex;
    justify-content: space-between;
    width: 96vw;
    padding: 6vw 22vw 4vw 22vw;
}

.IB__Card-Left {
    background: linear-gradient(rgba(64,205,234,0.43922) 0%, rgba(54,134,229,0.43922) 100%);
    padding: 1.2vw 1.2vw 1.2vw 1.2vw;
    border-radius: 1vw;
    height: 16vw;
    width: 15.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    -webkit-filter: drop-shadow(0vw 0.2vw 0.4vw rgba(0,0,0,0.56471));
    filter: drop-shadow(0vw 0.2vw 0.4vw rgba(0,0,0,0.56471));
}


.IB__Card-Center {
    background: linear-gradient(rgba(64,205,234,0.43922) 0%, rgba(54,134,229,0.43922) 100%);
    padding: 1.2vw 1.2vw 1.2vw 1.2vw;
    border-radius: 1vw;
    height: 14vw;
    width: 16.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: -0.6vw;
    -webkit-filter: drop-shadow(0vw 0.2vw 0.4vw rgba(0,0,0,0.56471));
    filter: drop-shadow(0vw 0.2vw 0.4vw rgba(0,0,0,0.56471));
}

.IB__Card-Right {
    background: linear-gradient(rgba(64,205,234,0.43922) 0%, rgba(54,134,229,0.43922) 100%);
    padding: 1.2vw 1.2vw 1.2vw 1.2vw;
    border-radius: 1vw;
    height: 16vw;
    width: 15.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    -webkit-filter: drop-shadow(0vw 0.2vw 0.4vw rgba(0,0,0,0.56471));
    filter: drop-shadow(0vw 0.2vw 0.4vw rgba(0,0,0,0.56471));
}

.IB__PAMM-Img {
    width: 7vw;
}

.IB__Success-Img {
    width: 7vw;
}

.IB__Safety-Img {
    width: 7vw;
}

.IB__Card-Title {
    text-align: center;
    font-size: 0.9vw;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.IB__Card-Text {
    font-size: 0.8vw;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}