<div class="Hero">
    <div class="Hero__Flex">
        <img class="Hero__Img" src="../../assets/img/Hero/tablet.svg" alt="Table BFXPro Broker Criptocurrency">
        <div class="Hero__Column">
            <h1 class="Hero__Title">{{$t('hero.operate')}}<br> <span class="Hero__Subtitle"> {{$t('hero.markets')}} <br>
                {{$t('hero.financial')}}</span> </h1>
            <a class="Hero__Start" target="_blank" href="https://my.bfxpro.io/register"> {{$t('hero.start')}} </a>
        </div>
    </div>
    <div class="Hero__Ribbon">
        <h2 class="Hero__Number">+250 <br> <span class="Hero__Text">{{$t('hero.instruments')}}<br> {{$t('hero.trading')}}</span></h2>
        <h2 class="Hero__Number">+30 ms <br> <span class="Hero__Text">{{$t('hero.times')}} <br> {{$t('hero.execution')}}</span></h2>
        <h2 class="Hero__Number">1:500 <br> <span class="Hero__Text">{{$t('hero.leverage')}}</span></h2>
        <h2 class="Hero__Number">$,€,₿ <br> <span class="Hero__Text">{{$t('hero.options')}} <br> {{$t('hero.deposit')}}</span></h2>
    </div>
</div>