<div class="Footer">

<div class="Footer__Margins">
    <div class="Footer_Row">
            <div class="Footer__Login-Flex">
                <p class="Footer__Contact">Contacto 24/5</p>
                <a class="Footer__Login" href="https://my.bfxpro.io/login">Ingresar</a>
                <a class="Footer__Signup" href="https://my.bfxpro.io/register">Abrir Cuenta Nueva</a>
            </div>
            <div class="Footer__Login-Flex">
                <nuxt-link to="/legal" class="Footer__Text-Legal" >Legal</nuxt-link>
                <nuxt-link to="/privacy" class="Footer__Text-Legal" >Privacy</nuxt-link>
                <nuxt-link to="/cookies"" class="Footer__Text-Legal" >Cookies</nuxt-link>
            </div>
            <div class="Footer__Social-Flex">
                <a href="https://www.instagram.com/bfx_pro/"><img class="Footer__Img" src="../../assets/img/Footer/instagram.svg" alt="Instagram"></a>
                <a href="https://www.facebook.com/BFXPro-101765591233398/?modal=admin_todo_tour"><img class="Footer__Img" src="../../assets/img/Footer/facebook.svg" alt="Facebook"></a>
                <a href="https://twitter.com/BFX_Pro"><img class="Footer__Img" src="../../assets/img/Footer/twitter.svg" alt="Twitter"></a>
                <a href="https://t.me/bfxpro"><img class="Footer__Img" src="../../assets/img/Footer/telegram.svg" alt="Telegram"></a>
            </div>
    </div>

    <div class="Footer_Row">
            <div class="Footer__Info-Flex">
                <div >
                    <a class="Footer__About" >Trading</a> <br>
                    <a class="Footer__Coming">Coming Soon</a>
                </div>
                <div>
                    <a class="Footer__About" >Platforms</a><br>
                    <a class="Footer__Coming">Coming Soon</a>
                </div>
                <div>
                    <a class="Footer__About" >Research & Education</a><br>
                    <a class="Footer__Coming">Coming Soon</a>
                </div>
                <div>
                    <a class="Footer__About">Promotions</a><br>
                    <a class="Footer__Coming">Coming Soon</a>
                </div>
                <div>
                    <a class="Footer__About">About Us</a><br>
                    <a class="Footer__Coming">Coming Soon</a>
                </div>
            </div>
    </div>
</div>
</div>