<div class="Deposits">
    <div class="Deposits__Title">
        <h2 class="Deposits__Posibilities">Posibilidades</h2>
        <h2 class="Deposits__Quantity">Deposite la cantidad</h2>
        <h2 class="Deposits__Minimum">Min. Deposite la cantidad</h2>
        <h2 class="Deposits__Time">Tiempo de Proceso</h2>
        <h2 class="Deposits__Comission">Comisión</h2>
        <h2 class="Deposits__Options">Opciones de Depósito</h2>
    </div>
    <div class="Deposits__Titles">
        <div class="Deposits__Titles-Ball"></div>
        <h2 class="Deposits__Titles-Title"><span>Transferencias</span> Bancarias</h2>
    </div>
    <div class="Deposits__Wire">
        <img class="Deposits__Wire-Img" src="../../assets/img/Options/wire.svg">
        <h3 class="Deposits__Wire-Quantity">Sin Límites</h3>
        <h3 class="Deposits__Wire-Minimum">$100</h3>
        <h3 class="Deposits__Wire-Time">Los fondos enviados por wire transfer usalmente toma entre 2-7 dias laborales para ser acreditados a tu cuenta.</h3>
        <h3 class="Deposits__Wire-Comission">Para wire transfers debajo de $100 USD BFX Pro no cubre la comisión </h3>
        <a  class="Deposits__Wire-Options" href="https://my.bfxpro.io/tx/payment">Opciones de depósito</a>
    </div>
    <div class="Deposits__Titles">
        <div class="Deposits__Titles-Ball"></div>
        <h2 class="Deposits__Titles-Title"><span>Tarjetas de</span> Crédito</h2>
    </div>
    <div class="Deposits__Cards">
        <img src="../../assets/img/Options/mastercard.svg" class="Deposits__Cards-Img">
        <h3 class="Deposits__Cards-Quantity" >$7.500</h3>
        <h3 class="Deposits__Cards-Minimum" >$5</h3>
        <h3 class="Deposits__Cards-Time" >Hasta 10 minutos.</h3>
        <h3 class="Deposits__Cards-Comission" >------ </h3>
        <a class="Deposits__Cards-Options" href="https://my.bfxpro.io/tx/payment">Opciones de depósito</a>
    </div>
    <div class="Deposits__Cards2" >
        <img src="../../assets/img/Options/Visa.svg" class="Deposits__Cards-Img-Visa">
        <h3 class="Deposits__Cards-Quantity">$10.000</h3>
        <h3 class="Deposits__Cards-Minimum">$5</h3>
        <h3 class="Deposits__Cards-Time">Hasta 10 minutos.</h3>
        <h3 class="Deposits__Cards-Comission">------ </h3>
        <a class="Deposits__Cards-Options" href="https://my.bfxpro.io/tx/payment">Opciones de depósito</a>
    </div>
    <div class="Deposits__Titles">
        <div class="Deposits__Titles-Ball"></div>
        <h2 class="Deposits__Titles-Title"><span>Opciones de pago en</span> Línea</h2>
    </div>
    <div class="Deposits__Cards2">
        <img src="../../assets/img/Options/bitcoin.svg" class="Deposits__Cryptos-Img">
        <h3 class="Deposits__Cards-Quantity">$10.000</h3>
        <h3 class="Deposits__Cards-Minimum">$5</h3>
        <h3 class="Deposits__Cards-Time">Hasta 10 minutos. (Si la transacción Bitcoin es confirmada en la red)</h3>
        <h3 class="Deposits__Cards-Comission">------</h3>
        <a  class="Deposits__Cards-Options" href="https://my.bfxpro.io/tx/payment">Opciones de depósito</a>
    </div>
    <div class="Deposits__Cards2">
        <img src="../../assets/img/Options/ethereum.svg" class="Deposits__Cryptos-Img-Eth">
        <h3 class="Deposits__Cards-Quantity">$10.000</h3>
        <h3 class="Deposits__Cards-Minimum">$5</h3>
        <h3 class="Deposits__Cards-Time">Hasta 10 minutos. (Si la transacción Bitcoin es confirmada en la red)</h3>
        <h3 class="Deposits__Cards-Comission">------</h3>
        <a href="" class="Deposits__Cards-Options">Opciones de depósito</a>
    </div>
    <div class="Deposits__Titles">
         <div class="Deposits__Titles-Ball"></div>
        <h2 class="Deposits__Titles-Title"><span>Transferencias</span> Bancarias</h2>
    </div>
        <div class="Deposits__Local">
        <img src="../../assets/img/Options/western.svg" class="Deposits__Local-Img">
        <h3 class="Deposits__Cards-Quantity">$10.000</h3>
        <h3 class="Deposits__Cards-Minimum">$10</h3>
        <h3 class="Deposits__Cards-Time">Instantáneo. Si se realiza de manera manual por transferencia bancaria demora hasta 1-3 días, dependiendo del banco.</h3>
        <h3 class="Deposits__Cards-Comission">------</h3>
        <a href="https://my.bfxpro.io/tx/payment" class="Deposits__Cards-Options">Opciones de depósito</a>
    </div>
</div>

